#products_grid {
    .tp-product-item {
        .tp-product-image-container {
            .tp-product-image {
                .secondary-image {
                    @include o-position-absolute(0, 0, 0, 0);
                    object-fit: var(--tp-product-image-fill, contain);
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                }

                &:hover {
                    .secondary-image {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
